@keyframes grow-and-shrink {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes move-bg-position {
  100% {
    background-position: 0% center;
  }
  70% {
    background-position: 25% center;
  }

  30% {
    background-position: 75% center;
  }

  0% {
    background-position: 100% center;
  }
}
