.gradient-primary {
  background-image: var(--background-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border: 1px solid transparent;
}

.text-gradient {
  background-image: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.border-gradient {
  border: 1px solid transparent;
  background-image: linear-gradient(var(--background), var(--background)), var(--border-gradient);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.moving-border {
  background: radial-gradient(circle, #fff 20%, transparent 60%, rgba(255, 98, 138, 0) 100%);
}
